.cache
.env

# Do not upload trashy files
venv/
.DS_Store
__pycache__

# Do not upload samples from eval experiemnts
eval_framework_tasks/experiment_data/*/results/*/*.jsonl
eval_framework_tasks/experiment_data/*/results/*/*.json
eval_framework_tasks/experiment_data/*/wandb

# Do not upload eval datasets
eval_framework_tasks/experiment_data/*/*.db

# Do not upload heavy weight division
llm_unlearn_ucl/models
llm_unlearn_ucl/logs
llm_unlearn_ucl/data
llm_unlearn_ucl/wandb


snlp-unlearned-models

# Temporary ignore out files,TODO: might want to add them later to keep track of results
out
mink_data_probability/out
mink_data_probability/src/out

llm_unlearn_ucl/wandb

# do not upload harmfulness eval model weights
eval_harmfulness/beaver-dam-7_weights

*.log