.cache
.env

# Do not upload trashy files
venv/
.DS_Store
__pycache__

# Do not upload heavy weight division
llm_unlearn_ucl/models
llm_unlearn_ucl/logs
llm_unlearn_ucl/data
models

# Temporary ignore out files,TODO: might want to add them later to keep track of results
out
mink_data_probability/out
mink_data_probability/src/out
